{% extends 'main/base.html' %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Film/films.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Film/film_card.css' %}">

{% endblock %}

{% block content %}
    <div class="titles">
        <h1>Let's look for a book</h1>
        <h2>Try below!</h2>
    </div>
    <div class="search-container">
        <div class="search-box">
            <form method="get" action="{% url 'books' %}">
                <input type="text" name="query" placeholder="Search for a book" value="{{ request.GET.query }}">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>

<div class="movie-grid">
    {% for book in books %}
        <div class="movie-card">
            <a href="{% url 'book_details' book_id=book.id %}">
                <img src="{{ book.cover_image }}" alt="{{ book.title }}">
            </a>
            <h3>
                {% if book.title|length > 28 %}
                    {{ book.title|slice:":28" }}...
                {% else %}
                    {{ book.title }}
                {% endif %}
            </h3>
            <p>{{ book.author }}</p>
            <p>{{ book.published_date|slice:":4" }}</p>
        </div>
    {% empty %}
        <li>No books found</li>
    {% endfor %}
</div>

{% endblock %}

