.recommendations-page {
    background-image: url('robot.png');
    background-size: 20ch;
    background-position: 128ch 12em;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.recommendations-page h1 {
    font-size: 50px;
    color: #f5f5f5;
    padding-top: 50px;
    text-align: center;
}

.recommendations-page h2 {
    font-size: 45px;
    color: #f5f5f5;
    text-align: center;
}
.recommendations-page p {
    color: #f5f5f5;
    text-align: center;
    font-size: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.form-control {
    margin-bottom: 1rem;
    color : #1e1e1e;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn-primary {
    background: linear-gradient(to bottom right, #EF4765, #a45aff);
    border: 0;
    border-radius: 12px;
    display: inline-block;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 20px
}

.btn-primary a:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(164, 90, 255, 0.63);
}

.btn-primary a:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(164, 90, 255, 0.63);
}

.response {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 60%;
    margin: 20px auto;
    color: #f5f5f5;
    font-size: 18px;
    line-height: 1.8;
    text-align: left;
    overflow-wrap: break-word;
    border: 1px solid #444;
}

.chatbot-response h3 {
    font-size: 22px;
    font-weight: bold;
    color: rgba(164, 90, 255, 0.63);
    margin-bottom: 10px;
}

.chatbot-response p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #f5f5f5;
}

.no-response {
    font-size: 16px;
    font-style: italic;
    color: #888;
    text-align: center;
}

